*{
  background-color: silver;
}

.nameBox{
  font-size: x-large;
}

.numBox{
  font-size: x-large;
}

.addContact{
  font-size: x-large;
  background-color: blue;
}

.newContact{
  background-color: rgb(14, 188, 211) ;
  font-size: x-large;
  font-weight: 900;
}

h2{
  font-size: xx-large;
}

button{
  color: rgb(4, 243, 36);
  border-radius: 20px;
  max-width: 300px;
}

.name{
  font-size: x-large;
  border-style: solid;
  border-radius: 20px;
  width: 300px;;
  text-align: center;
  border-color: blue;
  font-weight: 700;
}

.num{
  font-size: x-large;
  border-style: solid;
  border-radius: 20px;
  width: 300px;
  text-align: center;
  border-color: crimson;
  font-weight: 700;
}

.eachPerson{
  display: flex;
  flex-direction: row;
}